@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply !scroll-smooth;
  }

  body {
    @apply bg-[#111] text-white;
  }

  .font-display {
    font-family: var(--font-display) !important;
  }

  h1 {
    @apply text-5xl md:text-6xl;
  }

  h2 {
    @apply text-4xl md:text-5xl;
  }

  h3 {
    @apply text-3xl md:text-4xl;
  }

  h4 {
    @apply text-2xl md:text-3xl;
  }

  h5 {
    @apply text-xl md:text-2xl;
  }

  h6 {
    @apply text-lg md:text-xl;
  }

  p {
    @apply text-base;
  }
}
